<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433 
  -->
<configuration>

  <connectionStrings>
    <add name="TauiEntities" connectionString="metadata=res://*/TauiCommerce.csdl|res://*/TauiCommerce.ssdl|res://*/TauiCommerce.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DEVTAUI8.db.10073310.hostedresource.com;initial catalog=DEVTAUI8;user id=DEVTAUI8;password=Welc0me!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DefaultConnection" connectionString="Server=DEVTAUI8.db.10073310.hostedresource.com; Database=DEVTAUI8; User Id=DEVTAUI8; Password=Welc0me!"/>
  </connectionStrings>
  
  <appSettings>
    <add key="ByDesign_UserName" value="TAUIDEV"/>
    <add key="ByDesign_Password" value="Welc0me!" />
    <add key="CartPersistDays" value="30" />
    <add key="TestMode" value="0" />
    <add key="host" value="relay-hosting.secureserver.net" />
    <add key="port" value="25" />
    <add key="ssl" value="false" />
    <add key="UserName" value="developers@tauinetwork.com" />
    <add key="Password" value="Welc0me!" />
    <add key="CustomAttrubte" value="4" />
    <add key="ImageURI" value="http://admin.tauinetwork.com/"/>
    <add key="SubURI" value="http://admin.tauinetwork.com/"/>
    <add key="URI" value="http://www.tauinetwork.com"/>
    <add key="ProProduct" value="WMPROFEE" />
    <add key="BasicProduct" value="WMBASICFEE" />
    <add key="WithProduct" value="WMSETUPFEE" />
    <add key="AdminFolder" value="Admin"/>
  </appSettings>
 
  <system.web>


    <pages enableSessionState="true">
      
    </pages>
    <membership defaultProvider="Taui_MemebershipProvider">
      <providers>
        <add name="Taui_MemebershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" applicationName="/" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>
      </providers>
    </membership>
    <roleManager enabled="true" cacheRolesInCookie="true" cookieName="TBHROLES" defaultProvider="Taui_RoleProvider">
      <providers>
        <add connectionStringName="DefaultConnection" applicationName="/" name="Taui_RoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
    </roleManager>    
    
    <customErrors mode="Off">
      <error statusCode="404" redirect="GlobalErrorPages/PageNotFound.aspx"/>
      <!--<error statusCode="500" redirect="ErrorPage.aspx"/>-->
    </customErrors>
    
    <compilation debug="false" targetFramework="4.0" />
    
    <sessionState compressionEnabled="true" timeout="1000" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="en-US" />
	<machineKey decryptionKey="79586BB0A106A5CEE1D3D8F9F04C49328F241576A1DDE63D" validationKey="23A99CE7C1AC56E68423AC1AEF489DDD542C65810C2B15BA8A280E969FF5D8978FC4DF2A1D0E23457639CD86FB553FE33006856E1B84323563086FA607476858"/>
  </system.web>


  <system.webServer>
    <rewrite>
      <rules>
        <clear />
        <rule name="CartPage" stopProcessing="true">
          <match url="ShoppingCart" />
          <action type="Rewrite" url="ShoppingCart.aspx" />
        </rule>
        <rule name="Enrollment" stopProcessing="true">
          <match url="Enrollment"/>
          <action type="Rewrite" url="Enrollment.aspx"/>
        </rule>
        <rule name="Login" stopProcessing="true">
          <match url="Login"/>
          <action type="Rewrite" url="Login.aspx"/>
        </rule>
        <rule name="Checkout" stopProcessing="true">
          <match url="Checkout" />
          <action type="Rewrite" url="CheckOut.aspx" />
        </rule>
	<rule name="Product" stopProcessing="true">
           <match url="^.*-r([a-zA-Z0-9]+)-p([a-zA-Z0-9.]+)-c([0-9]+)/?$" />
           <action type="Rewrite" url="ProductDetail.aspx?RepId={R:1}&amp;ProductID={R:2}&amp;CategoryID={R:3}" />
        </rule>
        <rule name="AddToShoppingCart" stopProcessing="true">
          <match url="^.*([a-zA-Z0-9]+)-sc([a-zA-Z0-9].+)/?$" />
          <action type="Rewrite" url="ShoppingCart.aspx?ProductName={R:1}&amp;ProductID={R:2}" />
        </rule>
        <rule name="Product_Category" stopProcessing="true">
          <match url="^.*-c([0-9]+)/?$" />
          <action type="Rewrite" url="Products_ByCategory.aspx?CategoryID={R:1}" />
        </rule>
        <rule name="Product_Category_Pagewise" stopProcessing="true">
          <match url="^.*-c([0-9]+)/page-([0-9]+)/?" />
          <action type="Rewrite" url="product-listing.aspx?CategoryID={R:1}&amp;Page={R:2}" />
        </rule>

        <rule name="Activation" stopProcessing="true">
          <match url="-act([-a-zA-Z0-9]+)/?$" />
          <action type="Rewrite" url="Activation.aspx?ActKey={R:1}" />
        </rule>
        <rule name="Index" stopProcessing="true">
          <match url="^[0-9]*[a-zA-Z][a-zA-Z0-9_]*$" />
          <action type="Rewrite" url="Index.aspx?RepId={R:0}" />
        </rule>
        <rule name="Product_Search" stopProcessing="true">
          <match url="^.*-([a-zA-Z0-9_ ]+)$" />
          <action type="Rewrite" url="ProductSearch.aspx?SearchTerms={R:1}" />
        </rule>
        <!--<rule name="AffiliateProfile" stopProcessing="true">
                    <match url="^[0-9]*[a-zA-Z][a-zA-Z0-9_]*$" />
                    <action type="Rewrite" url="AffiliateProfile.aspx?Profile={R:0}" />
                </rule>-->
      </rules>
    </rewrite>
        <defaultDocument>
            <files>
                <add value="index.aspx" />
            </files>
        </defaultDocument>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="Session" />
      <add name="Session" type="System.Web.SessionState.SessionStateModule, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </modules>
  </system.webServer>
</configuration>